<ngx-carousel
        [inputs]="carouselOne"
        (carouselLoad)="myfunc($event)">
    <ngx-item NgxCarouselItem>
        <div class="ngitem">
            <div class="big">
            <div class="col-xs-12 col-md-6 item-image">
                <div class="image-2-3">
                    <div class="div-image">
                        <img class="img-aspect-ratio"
                             src="https://image.viettimes.vn/666x374/Uploaded/2018/cqjlqcqjx/2017_10_24/ramdisk_crop_174012208_ffdlx_24102017.jpg">
                        <div class="feat-text">
                            <h3><a title="Phân tích giá Bitcoin, Ethereumin Cash, EOS, Stellar, Litecoin, Cardano, Monero, Dash ngày 29 tháng 09" href="https://pinkblockchain.com/phan-tich-gia-bitcoin-ethereum-ripple-bitcoin-cash-eos-stellar-litecoin-cardano-monero-dash-ngay-29-thang-09/">Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano,...</a>
                            </h3>
                            <h4><span>30/09/2018</span><span>  |  </span><span>0 bình luận</span> <span>  |  </span><span>5 lượt xem</span></h4>
                        </div>
                    </div>
                </div>

            </div>
            </div>
            <div class="small">
            <div class="col-xs-12 col-md-6 item-two1">
                <div class="col-sm-6 col-xs-6 col-md-12 item-two1">
                    <div class="col-xs-6 item-image">
                        <div class="image-2-3">
                            <div class="div-image">
                                <img class="img-aspect-ratio"
                                     src="https://image.thanhnien.vn/665/uploaded/thuthao/2017_11_11/taixuong_pnrb.jpg">
                                <div class="feat-text"><h3><a title="Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano, Monero, Dash ngày 29 tháng 09" href="https://pinkblockchain.com/phan-tich-gia-bitcoin-ethereum-ripple-bitcoin-cash-eos-stellar-litecoin-cardano-monero-dash-ngay-29-thang-09/">Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano,...</a></h3></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6 item-image">
                        <div class="image-2-3">
                            <div class="div-image">
                                <img class="img-aspect-ratio"
                                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSb698COs7_LnWxzIzNgzWRS2w1xKlMbUFO8-AZBhwonuLa9oSIA">
                                <div class="feat-text"><h3><a title="Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano, Monero, Dash ngày 29 tháng 09" href="https://pinkblockchain.com/phan-tich-gia-bitcoin-ethereum-ripple-bitcoin-cash-eos-stellar-litecoin-cardano-monero-dash-ngay-29-thang-09/">Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano,...</a></h3></div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-sm-6 col-xs-6 col-md-12 item-two1">
                    <div class="col-xs-6 item-image">
                        <div class="image-2-3">
                            <div class="div-image">
                                <img class="img-aspect-ratio"
                                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZvbGvJ-KFiE6oz62T1yRQ4QMXJ_cU9R4kWnRk0WRkIl08B0DM">
                                <div class="feat-text"><h3><a title="Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano, Monero, Dash ngày 29 tháng 09" href="https://pinkblockchain.com/phan-tich-gia-bitcoin-ethereum-ripple-bitcoin-cash-eos-stellar-litecoin-cardano-monero-dash-ngay-29-thang-09/">Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano,...</a></h3></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6 item-image">
                        <div class="image-2-3">
                            <div class="div-image">
                                <img class="img-aspect-ratio"
                                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSriomyhR9Lpu2Ad4UmU5BiRdByEJjOtLzrU_pp98B5cDOVNqSD">
                            </div>

                            <div class="feat-text"><h3><a title="Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano, Monero, Dash ngày 29 tháng 09" href="https://pinkblockchain.com/phan-tich-gia-bitcoin-ethereum-ripple-bitcoin-cash-eos-stellar-litecoin-cardano-monero-dash-ngay-29-thang-09/">Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano,...</a></h3></div>
                        </div>

                    </div>

                </div>

            </div>
            </div>
        </div>
    </ngx-item>
    <ngx-item NgxCarouselItem>
    <div class="ngitem">
        <div class="big">
            <div class="col-xs-12 col-md-6 item-image">
                <div class="image-2-3">
                    <div class="div-image">
                        <img class="img-aspect-ratio"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSyLiWcHEH5c4SxKemstTRtqaB5sNJ1WW8QpRPAMuk-EsC45p5Tig">
                        <div class="feat-text">
                            <h3><a title="Phân tích giá Bitcoin, Ethereumin Cash, EOS, Stellar, Litecoin, Cardano, Monero, Dash ngày 29 tháng 09" href="https://pinkblockchain.com/phan-tich-gia-bitcoin-ethereum-ripple-bitcoin-cash-eos-stellar-litecoin-cardano-monero-dash-ngay-29-thang-09/">Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano,...</a>
                            </h3>
                            <h4><span>30/09/2018</span><span>  |  </span><span>0 bình luận</span> <span>  |  </span><span>5 lượt xem</span></h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="small">
            <div class="col-xs-12 col-md-6 item-two1">
                <div class="col-sm-6 col-xs-6 col-md-12 item-two1">
                    <div class="col-xs-6 item-image">
                        <div class="image-2-3">
                            <div class="div-image">
                                <img class="img-aspect-ratio"
                                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGDXsP_prD9F3uyajcpno4Tr9Wi3heh_6ILESdw-8W446aCbOM">
                                <div class="feat-text"><h3><a title="Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano, Monero, Dash ngày 29 tháng 09" href="https://pinkblockchain.com/phan-tich-gia-bitcoin-ethereum-ripple-bitcoin-cash-eos-stellar-litecoin-cardano-monero-dash-ngay-29-thang-09/">Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano,...</a></h3></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6 item-image">
                        <div class="image-2-3">
                            <div class="div-image">
                                <img class="img-aspect-ratio"
                                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5K-PBX1exl-x8xhHr_G0WgwHKtHMIjppl2wJ87bduM07FHmLF">
                                <div class="feat-text"><h3><a title="Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano, Monero, Dash ngày 29 tháng 09" href="https://pinkblockchain.com/phan-tich-gia-bitcoin-ethereum-ripple-bitcoin-cash-eos-stellar-litecoin-cardano-monero-dash-ngay-29-thang-09/">Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano,...</a></h3></div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-sm-6 col-xs-6 col-md-12 item-two1">
                    <div class="col-xs-6 item-image">
                        <div class="image-2-3">
                            <div class="div-image">
                                <img class="img-aspect-ratio"
                                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2sxSRndFEXF5mWGj77ui0oT_DU9fbJfmNlcplCLg8g8_fXj8y">
                                <div class="feat-text"><h3><a title="Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano, Monero, Dash ngày 29 tháng 09" href="https://pinkblockchain.com/phan-tich-gia-bitcoin-ethereum-ripple-bitcoin-cash-eos-stellar-litecoin-cardano-monero-dash-ngay-29-thang-09/">Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano,...</a></h3></div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-6 item-image">
                        <div class="image-2-3">
                            <div class="div-image">
                                <img class="img-aspect-ratio"
                                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1enK3gIQRAhLVmq_S5fIEYlwYnZ6Erfj4Yef8eJnpNzekkdJg0A">
                            </div>

                            <div class="feat-text"><h3><a title="Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano, Monero, Dash ngày 29 tháng 09" href="https://pinkblockchain.com/phan-tich-gia-bitcoin-ethereum-ripple-bitcoin-cash-eos-stellar-litecoin-cardano-monero-dash-ngay-29-thang-09/">Phân tích giá Bitcoin, Ethereum, Ripple, Bitcoin Cash, EOS, Stellar, Litecoin, Cardano,...</a></h3></div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</ngx-item>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
