<div class="col-xs-12 main-content">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <!-- <app-news-highlights></app-news-highlights>-->
            <app-slide-image></app-slide-image>
        </div>
    </div>

</div>
<div class="main-content">
    <div class=" col-xs-12 col-lg-8 main">

        <app-five-top-post></app-five-top-post>
        <app-five-top-post></app-five-top-post>
        <app-five-top-post></app-five-top-post>

    </div>
    <div class="col-xs-12 col-lg-4  side-bar">
        <app-widget-search></app-widget-search>
        <app-recent-post></app-recent-post>
        <app-recent-post></app-recent-post>
    </div>
</div>
