<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="container">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Tin tức tiền ảo</a>
            </div>
            <div class="navbar-header-right">
                <div class="widget-coin">
                    <div class="priceTabContent" style="display: block;">
                        <div class="priceName">BTC</div>
                        <div class="priceValue" style="color: #000;"><a rel="nofollow"
                                                                        href="https://www.cryptocompare.com/coins/btc/overview/USD"
                                                                        id="priceMultiHeader_BTC_USD">$ 6,516.03</a>
                        </div>
                        <div class="priceChange priceChangeDown" id="changePctContainer_BTC_USD">
                            <img class="priceChangeImage" id="changePctImg_BTC_USD"
                                 style="margin-right: 5px; vertical-align: middle;"
                                 src="data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzODYuMjU3IDM4Ni4yNTciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDM4Ni4yNTcgMzg2LjI1NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgo8cG9seWdvbiBwb2ludHM9IjAsOTYuODc5IDE5My4xMjksMjg5LjM3OSAzODYuMjU3LDk2Ljg3OSAiIGZpbGw9IiNhMTFiMGEiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==">
                            <span id="changePct_BTC_USD">-3.85 %</span>
                        </div>
                    </div>
                </div>
                <div class="widget-coin">
                    <div class="priceTabContent " style="display: block;">
                        <div class="priceName">ETH</div>
                        <div class="priceValue" style="color: #000;"><a rel="nofollow"
                                                                        href="https://www.cryptocompare.com/coins/eth/overview/USD"
                                                                        id="priceMultiHeader_ETH_USD">$ 216.01</a></div>
                        <div class="priceChange priceChangeDown" id="changePctContainer_ETH_USD">
                            <img class="priceChangeImage" id="changePctImg_ETH_USD"
                                 style="margin-right: 5px; vertical-align: middle;"
                                 src="data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzODYuMjU3IDM4Ni4yNTciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDM4Ni4yNTcgMzg2LjI1NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgo8cG9seWdvbiBwb2ludHM9IjAsOTYuODc5IDE5My4xMjksMjg5LjM3OSAzODYuMjU3LDk2Ljg3OSAiIGZpbGw9IiNhMTFiMGEiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==">
                            <span id="changePct_ETH_USD">-5.93 %</span>
                        </div>
                    </div>
                </div>
                <div class="widget-coin">
                    <div class="priceTabContent" style="display: block;">
                        <div class="priceName">BTC</div>
                        <div class="priceValue" style="color: #000;"><a rel="nofollow"
                                                                        href="https://www.cryptocompare.com/coins/btc/overview/USD"
                                                                        id="n">$ 6,516.03</a>
                        </div>
                        <div class="priceChange priceChangeDown" id="b">
                            <img class="priceChangeImage" id="h"
                                 style="margin-right: 5px; vertical-align: middle;"
                                 src="data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzODYuMjU3IDM4Ni4yNTciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDM4Ni4yNTcgMzg2LjI1NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgo8cG9seWdvbiBwb2ludHM9IjAsOTYuODc5IDE5My4xMjksMjg5LjM3OSAzODYuMjU3LDk2Ljg3OSAiIGZpbGw9IiNhMTFiMGEiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==">
                            <span id="t">-3.85 %</span>
                        </div>
                    </div>
                </div>
                <div class="widget-coin">
                    <div class="priceTabContent" style="display: block;">
                        <div class="priceName">BTC</div>
                        <div class="priceValue" style="color: #000;"><a rel="nofollow"
                                                                        href="https://www.cryptocompare.com/coins/btc/overview/USD"
                                                                        id="d">$ 6,516.03</a>
                        </div>
                        <div class="priceChange priceChangeDown" id="changePctContainer_BTC_d">
                            <img class="priceChangeImage" id="dr"
                                 style="margin-right: 5px; vertical-align: middle;"
                                 src="data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTkuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzODYuMjU3IDM4Ni4yNTciIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDM4Ni4yNTcgMzg2LjI1NzsiIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSIxNnB4IiBoZWlnaHQ9IjE2cHgiPgo8cG9seWdvbiBwb2ludHM9IjAsOTYuODc5IDE5My4xMjksMjg5LjM3OSAzODYuMjU3LDk2Ljg3OSAiIGZpbGw9IiNhMTFiMGEiLz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==">
                            <span id="f">-3.85 %</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="container-fluid menu" id="topMenu">
        <div class="container">
            <div class="topnav" id="myTopnav">
                <a routerLink="/home" routerLinkActive="active">TRANG CHỦ</a>
                <a routerLink="/login" routerLinkActive="active">TRADING</a>
                <a routerLink="/dashboard" routerLinkActive="active">ĐÀO COIN</a>
                <a routerLink="/dashboard" routerLinkActive="active">ICO</a>
                <a routerLink="/dashboard" routerLinkActive="active">KIẾN THỨC CƠ BẢN</a>

                <a routerLink="/upload-post" routerLinkActive="active">ĐĂNG BÀI</a>
                <a style="font-size:15px;" class="icon" (click)="reponsive()">&#9776;</a>
            </div>
        </div>

    </div>
</nav>